body {
    font-family: 'Work Sans', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    /* border: 2px solid black; */
}



/* common styles */
.gamer-logo {
    width: 253px;
    height: 53px;
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.special-alphabet {
    color: #FF42A5;
}

a {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

H3 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

p {
    font-size: 18px;
    color: #534C64;
}

ul {
    text-transform: uppercase;
    text-decoration: none;
}

.gradient-text {
    font-size: 50px;
    /* font-weight: bold; */
    background: linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    -webkit-background-clip: text;
    /* For older Safari */
    color: transparent;
}

/* Common section End */


/* Header Section */
/* Header Section start*/
.nav-container {
    max-width: 1440px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header-right-side {
    height: 56px;
    display: flex;
    align-items: center;
}

.header-right-side a {

    color: #3C354F;
    font-weight: bold;
    padding: 0 20px;
}

.btn {
    background-color: #0B022310;
    font-size: 18px;
    border: none;
    color: #3C354F;
    padding: 15px 24px;
    border-radius: 5px;
    text-align: center;
}

.fa-youtube {
    color: red;
    padding: 0 22px;
}

/* Banner section */
.banner-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    box-shadow: 5px red;
}

.ban-card1 {
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
}

.ban-card1-content {
    width: 380px;
    height: 402px;
    margin: 148px 0 0 240px;
}

.ban-card1-content h3 {
    text-transform: uppercase;
}

.ban-card1-content div {
    text-transform: uppercase;
    font-size: 95px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 40px;
}

.ban-card1-content ul,
li {
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    color: #534C64;
    padding: 10px 0;
}

.sec1-btn-sign {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 21px 40px;
    color: white;
    background-color: #FF42A5;
    cursor: pointer;
    border: none;
    border-radius: 40px;
}

.sec1-btn-rogue {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 21px 40px;
    color: white;
    background-color: #4EC5F7;
    cursor: pointer;
    border: none;
    border-radius: 40px;
}

.ban-card2 {
    height: 680px;
    width: 720px;
}

/* header section end */
/* Header Section */

/* main section 2 WE Are GAmers */
/* main section 2 start */
.main-section2 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding: 56px 240px;
    background-color: #FF42A505;
}

.sec2-card2 {
    text-align: end;
    margin: 40px 0 40px 52px;
}

.sec2-card2 p {
    font-size: 18px;
    color: #534C64;

}

.sec2-card2 h5 {
    font-size: 24px;
    color: #534C64;
}

.sec2-btn-know-more {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 21px 40px;
    color: white;
    background-color: #FF42A5;
    cursor: pointer;
    border: none;
    border-radius: 40px;
}

/* main section 2 end */
/* main section 2 WE Are GAmers */

/* <!-- section 3 Online games & videos --> */
/* <!-- section 3 Online games & videos start --> */
.main-section3 {
    max-width: 1440px;
    text-align: center;
    margin: 120px auto;
}

.section3-header {
    margin-bottom: 50px;
}

/* Hover efect on section3 start*/
.section3-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
}

.cards {
    width: 342px;
    height: 484px;
    font-size: 20px;
}

.image-container {
    position: relative;
    overflow: hidden;
    /* width: 100%;  */
    /* Adjust to image width */
    /* height: 100%;  */
    /* Adjust to  image height */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;

}

.overlay i {
    font-size: 2em;
    color: white;
    cursor: pointer;
    text-align: center;
}

.image-container:hover .overlay {
    opacity: 0.8;
}

.watch-now {
    font-size: 20px;
    font-weight: bold;
    color: #FF42A5;
}

/* Section3 Online games and funny videos End */
/* Section3 Online games and funny videos  */

/* section 5 online games play anytime anywhere */
/* section 5 online games play anytime anywhere start */
.main-section5 {
    max-width: 1440px;
    height: 773px;
    margin: 120px auto;
}

.sec-card5 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 40px;
}

.card5-1 {
    height: 773px;
    position: relative;

}

#card5-img1 {
    height: 650px;
    width: 710px;
}

#card5-img2 {
    position: absolute;
    bottom: 0px;
    right: 66px;
}

.card5-2 {
    margin: auto 0;
    max-width: 480px;
}

/* section 5 online games play anytime anywhere end */
/* section 5 online games play anytime anywhere */

/* <!-- section 6 carrers start --> */
/* <!-- section 6 carrers & list Items --> */
.main-section6 {
    max-width: 1920px;
    height: 820px;
    background-color: #FF42A5;
}

.section6-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
}

.section6-container-left {
    width: 680px;
    height: 580px;
    color: white;
    text-align: justify;
    margin-left: 240px;
}

.section6-container p {
    color: white;
}

.careers-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.careers-list-left div {
    font-size: 20px;
    margin: 15px 0;
    text-align: start;
}

.careers-list-right div {
    font-size: 20px;
    margin: 15px 0;
    text-align: end;
}

.sec6-btn-seeAll {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF42A5;
    background-color: white;
    padding: 21px 40px;
    border: none;
    border-radius: 40px;
    margin-top: 40px;
    cursor: pointer;
}

/* <!-- section 6 carrers start --> */
/* <!-- section 6 carrers & list Items --> */

/* section 7 button options */
/* section 7 button options Starts*/
.section7-btns {
    background-color: #FF42A515;
    padding: 100px 0;
}

.categories-btn-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
}

.btn-hover-sec {
    font-size: 28px;
    font-weight: 700;
    color: black;
    height: 80px;
    width: calc(20% - 10px);
    /* 5 columns in the firts row */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 40px;
    margin: 28px 0;
}

.btn-hover-sec:nth-child(n + 6) {
    width: calc(25% - 60px);
    /* 4 columns in the second row */

}

.btn-hover-sec:hover {
    color: #FF42A5;
    border: 3px solid #FF42A5;
    border-radius: 40px;
}

/* section 7 button options end*/
/* section 7 button options */

/* Footer Section */
/* Footer Section Starts */
.footer-section {
    width: 1920px;
    background-color: #0B0223;
    padding: 120px 0;
}

.gamer {
    color: white;
}

.footer-content,
.footer-content .gamer-logo {
    margin: 0 auto 56px;
    text-align: center;

}

.footer-options .opt-list {
    color: white;
    padding: 0 20px;
}

.footer-options i {
    color: white;
    font-size: 34px;
    padding: 10px 20px;
}

.footer-options .footer-terms,
.footer-options .footer-copyright {
    color: #FFFFFF60;
    font-size: 18px;
    padding: 10px 20px;
}

#tw {
    color: #00acee;
}

#fb {
    color: #4267B2;
}

#yt {
    color: #c4302b;
}

#li {
    color: #0072b1;
}

#ins {
    color: #feda75;
}

#apple {
    color: #A2AAAD;
}

/* Footer Section Ends */
/* Footer Section */